/* CSS declarations go here */

body {
    padding: 15px 0;
}

h1.pageTitle { font-size: 197%; margin: 0.2em 0 .5em; }
h1 { font-size: 153.9%; margin: 1.07em 0 .535em; }
h2 { font-size: 138.5%; margin: 1.14em 0 .57em; }
h3 { font-size: 123.1%; margin: 1.23em 0 .615em; }
h4 { font-size: 116%; margin: 1.33em 0 .67em; }
h5 { font-size: 108%; margin: 1.6em 0 .8em; }
h6 { font-size: 100%; margin: 1.6em 0 .8em; }

h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited,
h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited,
h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited,
h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited,
h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited,
h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
    color: inherit;
    text-decoration: none;
}

#searchform, #goform {
    margin-top: 10px;
}

.loginTemp {
   float: right;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 8px;
}

#content {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 8px;
   padding-bottom: 8px;
}

#sidebar {
    font-size: 90%;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    margin: 0 0 3px;
}

#sidebar a {
    display: inline-block;
    padding: 2px;
}

#sidebar .panel-heading {
    padding: 0.5em 0.7em;
}

#sidebar .panel-body {
    padding: 0.7em;
}

#logo {
    margin-bottom: 20px;
    text-align: center;
}

#logo > a {
    color: #777;
    display: block !important;
    font-family: serif;
    font-size: 1.2em;
    font-weight: bold;
}

#logo > a:hover {
    text-decoration: none;
}

#logo img {
    max-width: 100%;
}

#footer {
    color: #999;
    font-size: 90%;
    text-align: center;
}
